/*
   CSS styling examples for the Vaadin app.
   Visit https://vaadin.com/docs/flow/theme/theming-overview.html and
   https://vaadin.com/themes/lumo for more information.
*/

/* Example: CSS class name to center align the content . */
.centered-content {
  margin: 0 auto;
  max-width: 500px;
}

.sub-note-layout {
  position: absolute;
  max-width: 500px;
  top: 5em;
  left: 5em;
  font-weight: bold;
  font-size: 15px;
  color: #00657f;
}


